.card-carrito{
    width: 450px;
    margin-top: 70px;
    .card-carrito__title{
        font-size: 19px;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .card-carrito__parrafo{
        font-weight: 400;
        letter-spacing: 2px;
    }

    .card-carrito__img{
        width: 100%;
    }
}
.carrito-position{
    position: sticky;
    top: 24%;
    width: 20px;
    .carrito-arrow{
        border: none;
    }

}

.w-50{
    width: 50%;
}

.w-100{
    width: 100%;
}

.carrito-tarjeta-pago{
    position: sticky;
    top: 90%;
    margin-right: 32px;
    justify-content: end;

    .carrito-tarjeta-pago-parrafo{
        font-weight: bold;
        margin: 0px 20px;

        &.gray{
            color: gray;
            font-size: 13px;
        }
    }

    .carrito-tarjeta-pago-button{
        background-color: black;
        color: white;
        letter-spacing: 1px;
        width: 400px;
    }
}
.carrito-tarjeta-chat{
    position: sticky;
    top: 67%;    
    margin-bottom: 93px;

    flex-direction: row-reverse;
    .carrito-tarjeta-chat-button{
        bottom: 100px;
        right: 0px;
        padding: 20px;
        padding-left: 25px;
        border: 1px solid gainsboro;
        border-right: 0;
    }
}