.text-mobile-center{
    
    @media screen and (max-width: 667px) {
        text-align: center;
    }
}

.mt-mobile{
    @media screen and (max-width: 667px) {
        margin-top: 20px !important;
    }
}

.mt-tablet{
    @media screen and (max-width: 1400px) {
        margin-top: 20px !important;
    }
}

.center-flex-mobile{
    @media screen and (max-width: 667px) {
        justify-content: center !important;
    }
}

.w-100-mobile{
    @media screen and (max-width: 667px) {
        width: 100% !important;
    }  
}